.App {
  text-align: center;
  width: 90vw;
  height: 100vh;
  margin: auto;
  background: #266fa3;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  width: 55%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
}